<!-- HEADER -->
		<header>
			<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li><a href="#"><i class="fa fa-phone"></i> (+84)988939104</a></li>
						<li><a href="#"><i class="fa fa-envelope-o"></i> nguyendang6698@gmail.com</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i> 263 Ong Ich Khiem</a></li>
					</ul>
					<ul class="header-links pull-right">
						<li><a href="#"><i class="fa fa-dollar"></i> VND</a></li>
						{% if user.is_authenticated %}
							<li><a href="{% url 'user-profile' %}"><i class="fa fa-user-o"></i>{{user}}</a></li>
							<li><a href="{% url 'user-logout' %}"><i class="fa fa-sign-out"></i> Dang xuat</a></li>
						{% else %}
							<li><a href="{% url 'user-login' %}"><i class="fa fa-user-o"></i> Dang nhap </a></li>
							<li><a href="{% url 'user-register' %}"><i class="fa fa-user-plus"></i> Dang ki </a></li>
						{% endif %}
					</ul>
				</div>
			</div>
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="#" class="logo">
									<img src="./img/logo.png" alt="">
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search">
								<form>
									<select class="input-select">
										<option value="0">Chon lua</option>
										{% comment %} {% for category in  %}{% endfor %} {% endcomment %}
									</select>
									<input class="input" placeholder="Search here">
									<button class="search-btn">Search</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								<!-- Wishlist -->
								<div>
									<a>
										<i class="fa fa-heart-o"></i>
										<span>Yeu Thich</span>
										<div class="qty">0</div>
									</a>
								</div>
								<!-- /Wishlist -->

								<!-- Cart -->
								{% if user.is_authenticated %}
									<div class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
											<i class="fa fa-shopping-cart"></i>
											<span>Gio Hang</span>
											{% comment %} <div class="qty">3</div> {% endcomment %}
											{% if user.order_set.last and not user.order_set.last.ordered %}
												<div class="qty">{{ user.order_set.last.orderdetail_set.count }}</div>
											{% else %}
												<div class="qty">0</div>
											{% endif %}
										</a>
										<div class="cart-dropdown">
											<div class="cart-list">
												{% if not user.order_set.last.ordered %}
													{% for item in user.order_set.last.orderdetail_set.all %}
														<div class="product-widget">
															<div class="product-img">
																<img src="{{ item.item.image.url }}" alt="">
															</div>
															<div class="product-body">
																<h3 class="product-name"><a href="{% url 'product-detail' item.item.id %}">
																	{{ item }}
																</a></h3>
																<h4 class="product-price">Total: ${{ item.price }}</h4>
															</div>
															<a href="{{ item.item.get_remove_from_cart_url }}?next={{ request.path }}"><button class="delete"><i class="fa fa-close"></i></button></a>
														</div>
													{% endfor %}
											</div>
											<div class="cart-summary">
												<h5>Tong cong: ${{ user.order_set.last.ammount }}</h5>
											</div>
											<div class="cart-btns">
												<a href="{% url 'order-summary' %}">Xem gio hang </a>
												<a href="{% url 'checkout' %}">Thanh toan <i class="fa fa-arrow-circle-right"></i></a>
											</div>
											{% else %}
												{% comment %} <div class="cart-summary">
													<h5>Tong cong: $0</h5>
												</div> {% endcomment %}
												<h5>Ban chua tao gio hang .</h5>
											{% endif %}
										</div>
									</div>
								{% endif %}
								<!-- /Cart -->

								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
<!-- /HEADER -->
<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li class="active"><a href="{% url 'homepage' %}">Trang chu</a></li>
						<li><a href="{% url 'store' %}">Tat ca SP</a></li>
						<li><a href="{% url 'smartphone' %}">Smartphone</a></li>
						<li><a href="{% url 'laptop' %}">Laptop</a></li>
						<li><a href="{% url 'phukien' %}">Phu kien</a></li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
<!-- /NAVIGATION -->
