{% extends 'shoppingsite/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% comment %} <!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb-tree">
					<li><a href="#">Home</a></li>
					<li><a href="#">All Categories</a></li>
					<li><a href="#">Accessories</a></li>
					<li><a href="#">Headphones</a></li>
					<li class="active">Product name goes here</li>
				</ul>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /BREADCRUMB --> {% endcomment %}

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- Product main img -->
			<div class="col-md-5 ">
				<div id="product-main-img">
					<div class="product-preview">
						<img src="{{ product.image.url }}" alt="">
					</div>
				</div>
			</div>
			<!-- /Product main img -->

			<!-- Product thumb imgs -->
			<div class="col-md-2  col-md-pull-5">
				{% comment %} <div id="product-imgs">
					<div class="product-preview">
						<img src="{{ product.image.url }}" alt="">
					</div>

				</div> {% endcomment %}
			</div>
			<!-- /Product thumb imgs -->

			<!-- Product details -->
			<div class="col-md-5">
				<div class="product-details">
					<h2 class="product-name">{{ product.name }}</h2>
					<div>
						<div class="product-rating">
							<span>{{average_rating}}</span>
							{% with ''|center:average_rating_int as range %}
								{% for i in range %}
								<i class="fa fa-star"></i>
								{% endfor %}
							{% endwith %}
						</div>
						<br/>
						<a class="review-link">{{comments.count}} Đánh giá</a>
					</div>
					<div>
						<h3 class="product-price">${{ product.price }}</h3>
						<span class="product-available">Trong kho: {{ product.sku }}</span>
					</div>
					<p>{{ product.description }}</p>

					<div class="add-to-cart">
						<a href="{{ product.get_add_to_cart_url }}?next={{ request.path }}"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button></a>
					</div>

					<ul class="product-btns">
						<li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
					</ul>

					<ul class="product-links">
						<li>Category:</li>
						<li><a >{{ product.category.name }}</a></li>
					</ul>

					<ul class="product-links">
						<li>Share:</li>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-envelope"></i></a></li>
					</ul>

				</div>
			</div>
			<!-- /Product details -->

			<!-- Product tab -->
			<div class="col-md-12">
				<div id="product-tab">
					<!-- product tab nav -->
					<ul class="tab-nav">
						<li class="active"><a data-toggle="tab" href="#tab1">Reviews ({{comments.count}})</a></li>
						<li><a data-toggle="tab" href="#tab3">Mô tả</a></li>
					</ul>
					<!-- /product tab nav -->

					<!-- product tab content -->
					<div class="tab-content">
						<!-- tab1  -->
						
						<!-- /tab1  -->

						<!-- tab3  -->
						<div id="tab1" class="tab-pane fade in active">
							<div class="row">
								<!-- Rating -->
								<div class="col-md-3">
									<div id="rating">
										<div class="rating-avg">
											<span>{{average_rating}}</span>
											<div class="rating-stars">
												{% with ''|center:average_rating_int as range %}
													{% for i in range %}
													<i class="fa fa-star"></i>
													{% endfor %}
												{% endwith %}
											</div>
										</div>
										<ul class="rating">
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-progress">
													<div style="width: {{five_star_percent}}%;"></div>
												</div>
												<span class="sum">{{five_star}}</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div style="width: {{four_star_percent}}%;"></div>
												</div>
												<span class="sum">{{four_star}}</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div style="width: {{three_star_percent}}%;"></div>
												</div>
												<span class="sum">{{three_star}}</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div style="width: {{two_star_percent}}%;"></div>
												</div>
												<span class="sum">{{two_star}}</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div style="width: {{one_star_percent}}%;"></div>
												</div>
												<span class="sum">{{one_star}}</span>
											</li>
										</ul>
									</div>
								</div>
								<!-- /Rating -->

								<!-- Reviews -->
								<div class="col-md-6">
									<div id="reviews">
										<ul class="reviews">
											{% if not comments.count %}<strong>Chua co binh luan.</strong>{% endif %}
											{% for comment in comments %}
												<li>
												<div class="review-heading">
													<h5 class="name">{{comment.user.username}}</h5>
													<p class="date">{{comment.created_at}}</p>
													<div class="review-rating">
														{% with ''|center:comment.rating as range %}
															{% for i in range %}
															<i class="fa fa-star"></i>
															{% endfor %}
														{% endwith %}
													</div>
												</div>
												<div class="review-body">
													<p>{{comment.content}}</p>
												</div>
											</li>
											{% endfor %}
										</ul>
									</div>
								</div>
								<!-- /Reviews -->

								<!-- Review Form -->
								<div class="col-md-3">
									{% if user.is_authenticated %}
										<div id="review-form">
										<form class="review-form" method="POST">
											{% csrf_token %}
											<strong>Người dùng: </strong>{{user.username}}
											<br/>
											<br/>
												{{ form|crispy }}
											<div class="input-rating">
												<span>Đánh giá: </span>
												<div class="stars">
													<input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
													<input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
													<input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
													<input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
													<input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
												</div>
											</div>
											<button class="primary-btn">Submit</button>
										</form>
									</div>
									{% else %}
										<p>Bạn cần đăng nhập để bình luận.</p>
										<a href="{% url 'user-login' %}"><button class="primary-btn">Đăng nhập</button></a>
									{% endif %}
								</div>
								<!-- /Review Form -->
							</div>
						</div>
						<!-- /tab3  -->
						<div id="tab3" class="tab-pane fade in ">
							<div class="row">
								<div class="col-md-12">
									<p>{{ product.description }}</p>
								</div>
							</div>
						</div>
					</div>
					<!-- /product tab content  -->
				</div>
			</div>
			<!-- /product tab -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

{% endblock %}
