{% extends 'shoppingsite/base.html' %}
{% load static %}

{% block content %}
{% comment %} <!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb-tree">
					<li><a href="#">Home</a></li>
					<li><a href="#">All Categories</a></li>
					<li><a href="#">Accessories</a></li>
					<li class="active">Headphones (227,490 Results)</li>
				</ul>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /BREADCRUMB --> {% endcomment %}

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- STORE -->
			<div id="store" class="col-md-12">
				<!-- store top filter -->
				<div class="store-filter clearfix">
					<div class="store-sort">
						<label>
							Sort By:
							<select class="input-select">
								<option value="0">Popular</option>
								<option value="1">Position</option>
							</select>
						</label>

						{% comment %} <label>
							Show:
							<select class="input-select">
								<option value="0">20</option>
								<option value="1">50</option>
							</select>
						</label> {% endcomment %}
					</div>
					<ul class="store-grid">
						<li class="active"><i class="fa fa-th"></i></li>
						{% comment %} <li><a href="#"><i class="fa fa-th-list"></i></a></li> {% endcomment %}
					</ul>
				</div>
				<!-- /store top filter -->

				<!-- store products -->
				<div class="row">
					<!-- product -->
					{% for product in product_list %}
						<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="{{ product.image.url }}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">{{product.category}}</p>
								<h3 class="product-name"><a href="{% url 'product-detail' product.id %}">{{product.name}}</a></h3>
								<h4 class="product-price">${{ product.price }}</h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					{% endfor %}
					<!-- /product -->
				</div>
				<!-- /store products -->

				{% comment %} <!-- store bottom filter -->
				<div class="store-filter clearfix">
					<span class="store-qty">Showing 20-100 products</span>
					<ul class="store-pagination">
						<li class="active">1</li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
				<!-- /store bottom filter --> {% endcomment %}

				{% comment %} {% block pagination %} {% endcomment %}
				{% if is_paginated %}

					<div class="store-filter clearfix">
					{% comment %} <span class="store-qty">Showing 20-100 products</span> {% endcomment %}
					<ul class="store-pagination">
						{% if page_obj.has_previous %}
							<li><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
						{% endif %}
							<li class="active">{{ page_obj.number }}</li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
						{% if page_obj.has_next %}
							<li><a href="{{ request.path }}?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
						{% endif %}
					</ul>
				</div>
				{% endif %}
			{% comment %} {% endblock %} {% endcomment %}
			</div>
			<!-- /STORE -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
{% endblock %}
